const config = {
    'token': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    'ownerID': 'xxxxxxxxxxxxxxxxxx',
    'prefix': 'b!',
    'fnkey': 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', // Get from https://fortnitetracker.com/site-api
    'auto_channels': ['xxxxxxxxxxxxxxxxxx'] // Channel ids for autonews and autoshop, separate with a comma
};
module.exports = config;